.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 28px 160px; */
    margin-bottom: 20px;
}

.page-top{
    font-size: 32px;
    font-weight: 800;
}

/* sign-in top */
.btn-top{
    padding: 15px 30px;
    color: #006A50;
    text-shadow: 0px 2x 2px rgba(0, 0, 0, 0.25)
    font-size: 18px;
    font-weight: 650;        
    border-color: #006A50;
    border-radius: 5px;
    background-color: white;
}

/* Banner design */

.banner{
    display: flex;
    justify-content: space-between;
    border: 1px none;
    border-radius: 15px;
    padding: 80px;
    background-color: hsl(152, 74%, 90%);
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Bangladesh 2.0 */

.banner-title{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.banner-description{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.button-exploreBD{
    border: 1px solid;
    border-radius: 8px;
    background-color: #006A50;
    font-size: 18px;
    padding: 12px 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    width: fit-content;
}


body{
    margin: 0px 150px;
    display: block;
    align-items: center;
    background-color: ;
}

/* 2. The Vision of Future */


.vision-future{
    margin-top: 80px;
}
.vision-future-title{
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
    margin: 0;
}

.vision-description{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vision-container {
    display: flex;
    margin-bottom: 32px;
    gap: 24px;
}

.vision-digitrans{
    border: 1px solid none;
    border-radius: 10px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.btn-digitrans{
    background-color: rgba(84, 144, 245, 1);
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
    padding: 11px;
    border: none;
    border-radius: 5px;
}

.vision-greenen{
    border: 1px solid none;
    border-radius: 10px;
    background-color: #A1E7C7;
    padding: 32px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-greenen{
    background-color: rgba(9, 161, 92, 1);
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    padding: 11px;
    border: none;
    border-radius: 5px;
}


.vision-moderninfra{
    border: 1px solid none;
    border-radius: 10px;
    background-color: rgba(247, 235, 207, 1);
    padding: 24px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-moderninfra{
    background-color: #FFC239;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 11px;
    border: none;
    border-radius: 5px;
}


/* 3. Recent News */

.recent-news{
    margin-top: 80px;
}

.news-type{
    font-size: 40px;
    color: #0E0E0E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    margin: 0;
}

.news-list{
    display: flex;
    border: 1px bold none;
    background-color: #FFFFFF;
    padding: 48px;
    column-gap: 32px;

}

.news-list2{
    display: flex;
    flex-direction: row-reverse;
    border: 1px bold none;
    background-color: #FFFFFF;
    padding: 48px;
    column-gap: 32px;
}


.img-satellite{
    border: 1px solid none;
    border-radius: 24px;
    opacity: 100%;
}


.news-tittle{
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

.news-detail{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);

}

.date-time{
    margin: 12px 0px;

}

.btn-readmore{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 11px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}

.news-folder{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 80px;
}

/* 04. Donate Today */

.donate{
    align-items: center;
    text-align: center;
    /* padding: 0px 32px 0px 32px; */
}

.donate-preset{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    width: 243;
    padding: 40px 40px;
}

.donate-amount {
    padding: 40px 40px;
    border: none; 
    border-radius: 5px;
    font-weight: 800;
    font-size: large;
    background-color: #f0f0f0; 
    text-align: center;
    cursor: pointer;
}

.other-amount{
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 80%;
    height: 40%;
    text-align: center;
    padding: 19px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-donate{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    margin-bottom: 80px;
    
}